:root {
  --logo-color-left: #2196f3;
  --logo-color-right-header: #000000;
  --logo-color-right-footer: #ffffff;
  --nav-item-color: #212121;
  --nav-item-focus-color: #2196f3;
  --contacts-color: #757575;
  --primery-title-color: #ffffff;
  --title-color: #212121;
  --focus-color: #2196f3;
  --text-color: #757575;
  --button-color: #212121;
  --button-background-color: #f5f4fa;
  --button-focus-color: #ffffff;
  --button-background-focus-color: #2196f3;
  --background-color-dark: #2f303a;
}

body {
  font-family: "roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header .container,
.nav,
.site-nav,
.contacts {
  display: flex;
}

.header .container,
.nav,
.contacts {
  justify-content: space-between;
  align-items: center;
}

.list.contacts {
  margin: 0;
}

.contacts .item {
  text-align: end;
}

.primery-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 106px 0;
}

.button.order-btn {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}

.section {
  padding: 94px 0;
}

.secondary-section .container {
  display: flex;
}

.secondary-section .list {
  display: flex;
  justify-content: space-between;
}

.secondary-section .item {
  width: 270px;
}

.secondary-section .item:not(:last-child) {
  margin: 0 30px 0 0;
}

.secondary-section-text {
  margin: 10px 0 0 0;
}

.section.third-section {
  padding: 0 0 94px 0;
}

.third-section .list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.third-section .item:not(:last-child) {
  margin-right: 30px;
}

.forth-section .list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.forth-section .item {
  background-color: #ffffff;
}

.forth-section .item:not(:last-child) {
  margin-right: 30px;
}

.forth-section-undertitle {
  margin: 30px 0 10px 0;
}

.forth-section-text {
  margin-bottom: 30px;
}

.address .link {
  margin: 0;
}

.footer {
  padding: 60px 0;
}

.footer .container,
.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .logo {
  margin: 0 0 20px 0;
}

.footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.link {
  font-style: inherit;
  text-decoration: none;
}

.site-nav-link,
.contacts-link {
  margin: 0 0 0 50px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 93px 0 0;
}

.left {
  color: var(--logo-color-left);
}

.button {
  font-style: inherit;
  color: var(--button-color);
  background-color: var(--button-background-color);
  cursor: pointer;
}

.button:focus,
.button:hover {
  color: var(--button-focus-color);
  background-color: var(--button-background-focus-color);
}

/*-header-*/

.right-header {
  color: var(--logo-color-right-header);
}

.site-nav-link {
  color: var(--nav-item-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link:focus,
.site-nav-link:hover {
  color: var(--nav-item-focus-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link.current {
  color: var(--nav-item-focus-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link {
  color: var(--contacts-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--nav-item-focus-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*-footer-*/

.footer {
  background-color: var(--background-color-dark);
}

.right-footer {
  color: var(--logo-color-right-footer);
}

.address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-physical {
  color: #ffffff;
}

.footer-contacts {
  color: var(--contacts-color);
}

/*-studio page-*/

/*-primery-section-*/
.primery-section {
  background-color: var(--background-color-dark);
}

.primery-title {
  color: var(--primery-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.primery-section > .button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.order-btn {
  color: #fff;
  background-color: #2196f3;
}

.button.order-btn:hover,
.button.order-btn:focus {
  background-color: #188ce8;
}

/*-secondary-section-*/
.secondary-section-undertitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.secondary-section-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*-third-section-*/
.third-section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-forth-section-*/
.forth-section {
  background-color: #f5f4fa;
}

.forth-section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.forth-section-undertitle {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.forth-section-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-portfolio page-*/

.portfolio {
  background-color: #fff;
}

/*-buttons-section-*/
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.buttons-list {
  display: flex;
  justify-content: center;
}

.buttons-list .item:not(:last-child) {
  margin-right: 8px;
}

.buttons-list {
  margin-bottom: 50px;
}

.portfolio-btn {
  border-style: none;
}

/*-images-section-*/
.portfolio-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-desc {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
}

.images-list .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.images-list .item:not(:nth-child(-n + 3)) {
  margin-top: 30px;
}

.header {
  border-bottom: #ececec;
  border-width: 0 0 1px 0;
  border-style: solid;
}
